@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto&display=swap');

* {
  box-sizing: border-box;
}

:root{
  --gray: #757575;
  --blue: #1e88e5;
  --dark-blue: #1565c0;
}

/*Slider*/
/*swiper-container::part(button-prev){
  color: green;
}*/
